/* General Sans */

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Variable.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-Variable.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-Variable.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-VariableItalic.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-VariableItalic.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-VariableItalic.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Extralight.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-Extralight.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-Extralight.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-ExtralightItalic.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-ExtralightItalic.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-ExtralightItalic.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Light.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-Light.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-LightItalic.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-LightItalic.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-LightItalic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Regular.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-Regular.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Italic.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-Italic.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Medium.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-Medium.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-MediumItalic.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-MediumItalic.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Semibold.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-Semibold.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-SemiboldItalic.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-SemiboldItalic.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-SemiboldItalic.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Bold.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-Bold.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-BoldItalic.woff2') format('woff2'),
       url('../fonts/general-sans/GeneralSans-BoldItalic.woff') format('woff'),
       url('../fonts/general-sans/GeneralSans-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}
